<!--Contenedor Sidebar-->
<div class="col-sm-2 sidebar">
  <!--Logotipo Frikers-->
  <div class="col-sm-7 dashboard-logo"><img src="assets/img/login/frikers_logo.svg" alt="mozo"></div>

  <!--Perfil-->
  <div class="col-sm-12 sidebar-profile">
    <img class="sidebar-profile-pic" src="assets/img/dashboard/sidebar/profile.jpg" alt="">
  </div>

  <!--CATEGORIAS-->
  <div class="col-sm-12 sidebar-section-container">
    <h2 class="sidebar-tittle">CATEGORÍAS</h2>
    <a class="sidebar-option-h col-sm-12" href="#"><i class="material-icons">reorder</i><h2 class="sidebar-option">Todo</h2></a>
    <a class="sidebar-option-h col-sm-12" href="#"><i class="material-icons">videogame_asset</i><h2 class="sidebar-option">PlayStation</h2></a>
    <a class="sidebar-option-h col-sm-12" href="#"><i class="material-icons">videogame_asset</i><h2 class="sidebar-option">Xbox</h2></a>
    <a class="sidebar-option-h col-sm-12" href="#"><i class="material-icons">videogame_asset</i><h2 class="sidebar-option">Nintendo</h2></a>
    <a class="sidebar-option-h col-sm-12" href="#"><i class="material-icons">videogame_asset</i><h2 class="sidebar-option">PC</h2></a>
    <a class="sidebar-option-h col-sm-12" href="#"><i class="material-icons">videogame_asset</i><h2 class="sidebar-option">Android</h2></a>
    <a class="sidebar-option-h col-sm-12" href="#"><i class="material-icons">videogame_asset</i><h2 class="sidebar-option">iOS</h2></a>
  </div>

  <!--APLICACIONES-->
  <div class="col-sm-12 sidebar-section-container">
    <h2 class="sidebar-tittle">APLICACIONES</h2>
    <a class="sidebar-option-h col-sm-12" href="#"><i class="material-icons">games</i><h2 class="sidebar-option">Vende tu juego</h2></a>
    <a class="sidebar-option-h col-sm-12" href="#"><i class="material-icons">shopping_cart</i><h2 class="sidebar-option">Friker's Shop</h2></a>
  </div>
</div>
