<div class="col-sm-10 offset-sm-1 card-category-tittle">
  <h1>Todas las Categorías</h1>
</div>

<div class="col-sm-10 offset-sm-1 card-columns">

  <div class="card">
    <img class="card-img-top" src="assets/img/card/news/PUBG-mobile.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><small>2 hrs / <span class="card-autor">Richiips</span> / Android, iOS</small></p>
      <h5 class="card-title">PUBG Mobile ha comenzado a aparecer en las stores de iOS y Android de occidente. Estos son sus requisitos</h5>
      <p class="card-text">No ha pasado ni una semana desde que 'Fortnite: Battle Royale' comenzase a llegar a móviles, pero Tencent y PUBG Corp contraatacan a lo grande …</p>
      <p class="card-text"><i class="material-icons">gamepad</i><small class="card-favorite">12</small></p>
    </div>
  </div>

  <div class="card">
    <video loop class="card-img-top" src="assets/img/card/news/laboman.mp4" autoplay poster="posterimage.jpg"></video>
    <div class="card-body">
      <p class="card-text"><small>2 hrs / <span class="card-autor">Richiips</span> / Nintendo</small></p>
      <h5 class="card-title">Así es LaboMan, el divertido luchador de cartón creado por un fan para que Labo se cuele en Super Smash Bros.</h5>
      <p class="card-text">Todavía quede un mes para que Nintendo Labo llegue a las tiendas, pero su propuesta de juego promete definir la experiencia de juego en Switch del mismo modo que los Miis, Wii Fit o el propio Duck Hunt de NES …</p>
      <p class="card-text"><i class="material-icons">gamepad</i><small class="card-favorite">12</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/img/card/news/assassin.jpeg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><small>3 de marzo, 14:34 / <span class="card-autor">Richiips</span> / PlayStation, Xbox, PC</small></p>
      <h5 class="card-title">RUMOR: Próximo Assassin’s Creed tendrá lugar en la Antigua Grecia</h5>
      <p class="card-text">Como ha sucedido a lo largo de la historia de la franquicia, la información relacionada con las entregas de Assassin’s Creed …</p>
      <p class="card-text"><i class="material-icons">gamepad</i><small class="card-favorite">420</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/img/card/news/god-of-war-cuatro.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><small>1 día / <span class="card-autor">Richiips</span> / PlayStation</small></p>
      <h5 class="card-title">El director de God of War pide 'mente abierta' a los fans más reacios</h5>
      <p class="card-text">Entiende que algunos jugadores estén disgustados con tantos cambios. Hace un par se semanas se celebró un evento en Madrid …</p>
      <p class="card-text"><i class="material-icons">gamepad</i><small class="card-favorite">420</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/img/card/news/PUBG-mobile.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><small>2 hrs / <span class="card-autor">Richiips</span> / Android, iOS</small></p>
      <h5 class="card-title">PUBG Mobile ha comenzado a aparecer en las stores de iOS y Android de occidente. Estos son sus requisitos</h5>
      <p class="card-text">No ha pasado ni una semana desde que 'Fortnite: Battle Royale' comenzase a llegar a móviles, pero Tencent y PUBG Corp contraatacan a lo grande …</p>
      <p class="card-text"><i class="material-icons">gamepad</i><small class="card-favorite">12</small></p>
    </div>
  </div>

  <div class="card">
    <video loop class="card-img-top" src="assets/img/card/news/laboman.mp4" autoplay poster="posterimage.jpg"></video>
    <div class="card-body">
      <p class="card-text"><small>2 hrs / <span class="card-autor">Richiips</span> / Nintendo</small></p>
      <h5 class="card-title">Así es LaboMan, el divertido luchador de cartón creado por un fan para que Labo se cuele en Super Smash Bros.</h5>
      <p class="card-text">Todavía quede un mes para que Nintendo Labo llegue a las tiendas, pero su propuesta de juego promete definir la experiencia de juego en Switch del mismo modo que los Miis, Wii Fit o el propio Duck Hunt de NES …</p>
      <p class="card-text"><i class="material-icons">gamepad</i><small class="card-favorite">12</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/img/card/news/assassin.jpeg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><small>3 de marzo, 14:34 / <span class="card-autor">Richiips</span> / PlayStation, Xbox, PC</small></p>
      <h5 class="card-title">RUMOR: Próximo Assassin’s Creed tendrá lugar en la Antigua Grecia</h5>
      <p class="card-text">Como ha sucedido a lo largo de la historia de la franquicia, la información relacionada con las entregas de Assassin’s Creed …</p>
      <p class="card-text"><i class="material-icons">gamepad</i><small class="card-favorite">420</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/img/card/news/god-of-war-cuatro.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><small>1 día / <span class="card-autor">Richiips</span> / PlayStation</small></p>
      <h5 class="card-title">El director de God of War pide 'mente abierta' a los fans más reacios</h5>
      <p class="card-text">Entiende que algunos jugadores estén disgustados con tantos cambios. Hace un par se semanas se celebró un evento en Madrid …</p>
      <p class="card-text"><i class="material-icons">gamepad</i><small class="card-favorite">420</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/img/card/news/PUBG-mobile.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><small>2 hrs / <span class="card-autor">Richiips</span> / Android, iOS</small></p>
      <h5 class="card-title">PUBG Mobile ha comenzado a aparecer en las stores de iOS y Android de occidente. Estos son sus requisitos</h5>
      <p class="card-text">No ha pasado ni una semana desde que 'Fortnite: Battle Royale' comenzase a llegar a móviles, pero Tencent y PUBG Corp contraatacan a lo grande …</p>
      <p class="card-text"><i class="material-icons">gamepad</i><small class="card-favorite">12</small></p>
    </div>
  </div>

  <div class="card">
    <video loop class="card-img-top" src="assets/img/card/news/laboman.mp4" autoplay poster="posterimage.jpg"></video>
    <div class="card-body">
      <p class="card-text"><small>2 hrs / <span class="card-autor">Richiips</span> / Nintendo</small></p>
      <h5 class="card-title">Así es LaboMan, el divertido luchador de cartón creado por un fan para que Labo se cuele en Super Smash Bros.</h5>
      <p class="card-text">Todavía quede un mes para que Nintendo Labo llegue a las tiendas, pero su propuesta de juego promete definir la experiencia de juego en Switch del mismo modo que los Miis, Wii Fit o el propio Duck Hunt de NES …</p>
      <p class="card-text"><i class="material-icons">gamepad</i><small class="card-favorite">12</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/img/card/news/assassin.jpeg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><small>3 de marzo, 14:34 / <span class="card-autor">Richiips</span> / PlayStation, Xbox, PC</small></p>
      <h5 class="card-title">RUMOR: Próximo Assassin’s Creed tendrá lugar en la Antigua Grecia</h5>
      <p class="card-text">Como ha sucedido a lo largo de la historia de la franquicia, la información relacionada con las entregas de Assassin’s Creed …</p>
      <p class="card-text"><i class="material-icons">gamepad</i><small class="card-favorite">420</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/img/card/news/god-of-war-cuatro.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><small>1 día / <span class="card-autor">Richiips</span> / PlayStation</small></p>
      <h5 class="card-title">El director de God of War pide 'mente abierta' a los fans más reacios</h5>
      <p class="card-text">Entiende que algunos jugadores estén disgustados con tantos cambios. Hace un par se semanas se celebró un evento en Madrid …</p>
      <p class="card-text"><i class="material-icons">gamepad</i><small class="card-favorite">420</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/img/card/news/PUBG-mobile.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><small>2 hrs / <span class="card-autor">Richiips</span> / Android, iOS</small></p>
      <h5 class="card-title">PUBG Mobile ha comenzado a aparecer en las stores de iOS y Android de occidente. Estos son sus requisitos</h5>
      <p class="card-text">No ha pasado ni una semana desde que 'Fortnite: Battle Royale' comenzase a llegar a móviles, pero Tencent y PUBG Corp contraatacan a lo grande …</p>
      <p class="card-text"><i class="material-icons">gamepad</i><small class="card-favorite">12</small></p>
    </div>
  </div>

  <div class="card">
    <video loop class="card-img-top" src="assets/img/card/news/laboman.mp4" autoplay poster="posterimage.jpg"></video>
    <div class="card-body">
      <p class="card-text"><small>2 hrs / <span class="card-autor">Richiips</span> / Nintendo</small></p>
      <h5 class="card-title">Así es LaboMan, el divertido luchador de cartón creado por un fan para que Labo se cuele en Super Smash Bros.</h5>
      <p class="card-text">Todavía quede un mes para que Nintendo Labo llegue a las tiendas, pero su propuesta de juego promete definir la experiencia de juego en Switch del mismo modo que los Miis, Wii Fit o el propio Duck Hunt de NES …</p>
      <p class="card-text"><i class="material-icons">gamepad</i><small class="card-favorite">12</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/img/card/news/assassin.jpeg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><small>3 de marzo, 14:34 / <span class="card-autor">Richiips</span> / PlayStation, Xbox, PC</small></p>
      <h5 class="card-title">RUMOR: Próximo Assassin’s Creed tendrá lugar en la Antigua Grecia</h5>
      <p class="card-text">Como ha sucedido a lo largo de la historia de la franquicia, la información relacionada con las entregas de Assassin’s Creed …</p>
      <p class="card-text"><i class="material-icons">gamepad</i><small class="card-favorite">420</small></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/img/card/news/god-of-war-cuatro.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><small>1 día / <span class="card-autor">Richiips</span> / PlayStation</small></p>
      <h5 class="card-title">El director de God of War pide 'mente abierta' a los fans más reacios</h5>
      <p class="card-text">Entiende que algunos jugadores estén disgustados con tantos cambios. Hace un par se semanas se celebró un evento en Madrid …</p>
      <p class="card-text"><i class="material-icons">gamepad</i><small class="card-favorite">420</small></p>
    </div>
  </div>

</div>
